/* for this css snippet to work you install the obsidian ninja cursor plugin */

/* cursor size */
.cursorWrapper .x-cursor {
	width: 3px;
	left: -1px;
	top: calc( -1px - var(--header-height));;
	height: calc(2px + var(--cursor-height));
	/* cursor movement transition speed - longer means the cursor moves slower */
	/* i recommend using zero for no delay */
	transition: all 0ms !important;
}

/* cursor color on light theme */
.theme-light .x-cursor {
	background: rgba(0,0,0,1);
}
/* cursor color on dark theme */
.theme-dark .x-cursor {
	background: rgba(255,255,255,1);
}

/* remove normal cursor when ninja cursor is installed */
body:has(.x-cursor) .cm-editor * { caret-color: transparent; }

/* ninja cursor movement effect */
.cursorWrapper .x-cursor::after {
	/* the opacity of the effect that shows the cursor movement trail */
	opacity: 0.1 !important;
	/* to hide the cursor movement trail, uncomment this */
	/* display: none; */
}

/* hide the default cursor that appears when using text selection */
.cm-cursorLayer {
	animation: none !important;
	visibility: hidden !important;
}

/* blinking */
.cursorWrapper .x-cursor0, .cursorWrapper .x-cursor1 {
	/* edit opacity of cursor */
	opacity: 0.8 !important;
	/* make cursor will have no animation by default */
	animation: none;
	/* the following line applies a custom animation to the cursor which uses some extra CPU and GPU so maybe don't enable it */
	/* animation: blink 5s 5s both infinite; */	
}

@keyframes blink {
	0%   { opacity: 1; }
	85%  { opacity: 0.9; }
	100% { opacity: 0.1; }
}
